.btn {
	margin-top: 5px;
    margin-right: 10px;
    margin-bottom: 5px;
}

.list-item {
	margin-top: 5px;
    margin-right: 10px;
    margin-bottom: 10px;
}

.form-group {
    margin-bottom: 10px;
}

.row {
	margin-top: 10px;
}

.giphy:hover {
  cursor: pointer;
}

body {
  background-image: url("../images/round.png");

}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Setting the fixed height of the footer here */
  font-size: 12px;
  text-align: center;
  height: 47px;
  color: #ccc;
  background: #000000;
  border-top: 5px solid #5bc0de;

}